@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.profile {
  width: 1080px;
  left: 50%;
  float: left;
  position: relative;
  margin: 50px 0px 50px 0px;
  margin-left: -540px;
  cursor: pointer;
}
.profile .imageHolder {
  float: left;
  width: 30%;
  position: relative;
  left: 5%;
}
.profile .imageHolder .profilePic {
  width: 100%;
  float: left;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-box-shadow: 0 0 31px -1px #474747;
  -moz-box-shadow: 0 0 31px -1px #474747;
  box-shadow: 0 0 31px -1px #474747;
}
.profile .imageHolder:after {
  content: '';
  background-image: url("http://img05.deviantart.net/1877/i/2013/048/3/8/skull_by_robot_panda22-d5vb2v7.png");
  pointer-events: none;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  min-height: 30vh;
  display: block;
  top: 4vw;
  opacity: 0;
  float: left;
  position: absolute;
  z-index: 1000;
  left: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  animation: bounce .5s linear infinite;
  animation-play-state: paused;
}
.profile h1 {
  font-family: 'Fjalla One', sans-serif;
  color: #D10606;
  position: absolute;
  width: 100%;
  padding: 0 0 0 32%;
  margin-top: -50px;
  margin-bottom: 0;
  font-size: 15vw;
  letter-spacing: 1vw;
  z-index: 10000;
  font-weight: 400;
  text-transform: uppercase;
  pointer-events: none;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
}
.profile h1:after {
  content: '';
  float: left;
  position: absolute;
  left: 50%;
  bottom: -10vw;
  width: 5px;
  height: 10vw;
  background-color: #D10606;
}
.profile:hover h1 {
  transform: translateY(30vw);
}
.profile:hover .profilePic {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.1);
}
.profile:hover .imageHolder:after {
  opacity: 1;
  animation-play-state: running;
}
.profile .infoHolder {
  width: 60%;
  float: right;
  right: 1%;
  position: absolute;
  overflow-x: hidden;
}
.profile .infoHolder h2 {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 3px;
  margin-top: 0px;
  float: left;
  width: 100%;
  transform: translateX(102%);
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
}
.profile .infoHolder p {
  font-family: 'Roboto Slab', serif;
  float: left;
  margin-top: 0px;
  width: 100%;
  transform: translateX(102%);
  transition: all .62s ease;
  -webkit-transition: all .62s ease;
  -moz-transition: all .62s ease;
  -o-transition: all .62s ease;
}
.profile:hover .infoHolder h2, .profile:hover .infoHolder p {
  transform: translateX(0%);
}

@media screen and (min-width: 1080px) {
  h1 {
    font-size: 120pt !important;
    letter-spacing: 20pt !important;
  }
  h1:after {
    bottom: -120px !important;
    height: 120px !important;
  }

  .profile:hover h1 {
    transform: translateY(250px);
  }
}
@media screen and (max-width: 1080px) {
  .profile {
    width: 100%;
    left: 0%;
    margin-left: 0px;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*
Copyright (c) 2017 by Matty Fours (http://codepen.io/mattyfours/pen/oZQOow)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

